@import url( "normalize.css");

/*global defults*/


body {


    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
    max-width: 100%;
}

video {
    max-height: 100%;
    max-width: 100%;
}

/*layouts*/
.layout-wide{

   
    max-width: 1500px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}



/* headings and typeograpahy */

h1, 
h2,
h3,
h4,
h5 {
    color: maroon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

style>
a:link {
  color: rgb(09,31,64); 

}

a:visited {
  color: maroon; 
}
 

/* header */
header .layout-wide {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: rgb(09,31,64);
    

}
 .header-detail {
    color: white;
    font-size:x-large;

 }

  

/* navigation */

/* footer */

/* modules */

@media screen and (min-width: 1500px)  {


    .news-component {
        display: grid; 
        grid-template-columns: 1fr 1fr;

        
}

}


